body {
    line-height: 1.6;
    margin: 40px auto;
    max-width: 800px;
    font-size: 18px;
    font-family: sans-serif;
    background-color: #eeeeee;
    color: #000000;
    padding: 0 10px;
}

h1,h2,h3 {
    line-height: 1.2;
}

span.oppdir {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-style: italic;
}
