<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />

   <title>Emilio G. Cota Home Page</title>
   <meta name="author" content="Emilio G. Cota" />
   <link href="pubs.rss" rel="alternate" title="Emilio G. Cota | Publications" type="application/atom+xml" />
   <link href="favicon.ico" rel="shortcut icon">
   <meta name="robots" content="index, follow" />
   <link rel="stylesheet" href="css/simple.css" type="text/css" />

</head>
<body>

<h1>Emilio G. Cota</h1>

<img ALIGN="left" width="194" height="200" hspace="100" src="images/cota.jpeg" alt="Emilio picture">
<ul>
<li>Emilio G. Cota</li>
<a href="http://sld.cs.columbia.edu/">SLD Group</a>, <a href="http://www.cs.columbia.edu/">Computer Science Department</a>, <a href="http://www.columbia.edu/">Columbia University</a></li>
<li>467 Computer Science Building,
<br />
1214 Amsterdam Avenue, Mail Code: 0401
<br />
New York, NY 10027-7003
</li>
<li><span class="oppdir">ude.aibmuloc.sc@atoc</span></li>
</ul>
<br />
<br />
<br />

<hr />

{{ content }}

<h2>TAing</h2>
<p>Fall 2012: <a href="http://www.cs.columbia.edu/~cs4824/">CSEE4824 Computer Architecture</a></p>
<h3>Office Hours</h3>
TBA

<h2>etc.</h2>
<ul>
<li><a href="https://github.com/cota">Some code</a> on github. Unfortunately not much of what I write these days is there.</li>
<li><a href="http://www.ohwr.org/projects/white-rabbit/wiki">White Rabbit</a>,
a deterministic network for sub-nanosecond synchronisation which I contributed
to while at <a href="http://cern.ch/">CERN</a>.
<ul><li>Humorous yet surprisingly accurate depiction of <a href="images/dilbert.gif">what life at CERN is like.</a></li></ul></li>
</ul>

<hr />

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-34382324-1");
pageTracker._trackPageview();
</script>
<!-- Google Analytics end -->

</body>
</html>
